.root{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputBox{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: dotted 1px rgb(0, 0, 0);
}
.error{
    font-size: 15px;
    color: red;
}
.inputBox .icon{
    height: 30px;
    position: relative;
    width: 30px;

}
.input{
    font-family: 'Lobster Two', cursive;
  font-weight: 900;
    font-size: 20px;
    width: calc(100% - 30px);
    height: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding-left: 5px;
    
   
}